<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/" xmlns:ns="http://schemas.datacontract.org/2004/07/">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:eliminarProducto>
         <!--Optional:-->
         <tem:ObjProResultado>
            <!--Optional:-->
            <ns:CodigoProducto>?</ns:CodigoProducto>
            <!--Optional:-->
            <ns:EstadoProducto>?</ns:EstadoProducto>
            <!--Optional:-->
            <ns:MensajeEstado>?</ns:MensajeEstado>
         </tem:ObjProResultado>
      </tem:eliminarProducto>
   </soapenv:Body>
</soapenv:Envelope>