<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:rankingProducto>
         <!--Optional:-->
         <tem:strRespuesta>Ranking</tem:strRespuesta>
      </tem:rankingProducto>
   </soapenv:Body>
</soapenv:Envelope>